@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: flex;
  z-index: -1;
}
a {
  text-decoration: none;
  font-size: 15px;
}
body {
  font-family: "Poppins", sans-serif;
  background: #000 url(../imagens/fundo.png) repeat-x;
}
nav {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.nav-logo {
  max-width: 100px;
  width: 100px;
  height: 100px;
  display: flex;
  place-items: center;
  background: url(../imagens/logo.png) no-repeat center;
  background-size: 100%;
  text-indent: -3000px;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}
.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #ec0301;
    transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #7f0000;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #c60203;
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}
.no-scroll {
  overflow: hidden;
}

@media (max-width: 710px) {
  .hamburger {
    display: block;
    z-index: 1;
    margin-right: 50px;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .nav-list a {
    font-size: 32px;
    opacity: 0;
    background-color: rgb(127, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px 60px;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Estilos ativos */

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 2;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 72px;
    right: 34px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -8px;
  }
}


.container{
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
}
.blur{
  position: absolute;
  box-shadow: 0 0 1000px 50px #ff3716;
  z-index: -100;
}
header{
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  z-index: -2;
}
header .conteudo h4{
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1REM;
  font-weight: 600;
}
header .conteudo h1{
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}
header .conteudo h1 span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
header .conteudo p{
  margin-bottom: 2rem;
  color: #ccc;
}
header .imagem{
  position: relative;
}
header .imagem::before{
  content: "R";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30rem;
  font-weight: 600;
  line-height: 20rem;
  color: #a20103;
  opacity: 0.2;
  z-index: -100;
}
header .imagem img{
  max-width: 600px;
  margin: auto;
}
section .header{
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}
.skills{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.skills .card{
  background-color: #27272a;
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.features .card:hover{
  background-color: #323232;
  border-color: #fff;
}
.skills .card span{
  display: inline-block;
  background-color: #7f0000;
  padding: 2px 9px;
  margin-bottom: 1rem;
  font-size: 1.75rem;
  color: #fff;
  border-radius: 5px; 
}
.skills .card h4{
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;

}
.skills .card p{
  color: #ccc;
  margin-bottom: 1rem;
}
.skills .card a{
  color: #fff;
  transition: all 0.3s ease;
}

.sklls .card a:hover{
  color: #c60203;
}
.sub-header{
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: #ccc;
}
.preco{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.preco .card{
  padding: 3rem 2rem;
  background-color: #27272a;
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.preco .card:hover{
  background-color: #323232;
  border-color: #fff;
}
.preco .card .conteudo{
  flex: 1;
  margin-bottom: 2rem;
}
.preco .card h4{
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}
.preco .card h3{
  color: #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 2px dashed #fff;
}
.preco .card p{
  color: #fff;
  margin-bottom: 0.75rem;
}
.preco .card p i{
  color: #ccc;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}
.preco .card button{
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
}
.preco .card button:hover{
  background-color: #7f0000;
  border-color: #7f0000;
}

footer{
  position: relative;
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}
footer .coluna .logo{
  max-width: 100px;
  margin-bottom: 2rem;
}
footer .coluna p{
  color: #ccc;
  margin-bottom: 2rem;
}
footer .coluna .social{
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .coluna .social a{
  color: #ccc;
  border: 1px solid #ccc;
  padding: 7.5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}
footer .coluna .social a:hover{
  color: #fff;
  background-color: #7f0000;
  border-color: #c60203;
}
footer .coluna h4{
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}
footer .coluna > a{
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3 ease;
}
footer .coluna > a:hover{
  color: #7f0000;
}
.copyright{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

@media (width < 710px){
  nav .btn{
    display: none;
  }
  header{
    grid-template-columns: repeat(1, 1fr);
  }
  header .imagem{
    grid-area: 1/1/2/2;
  }
  .skills{
    grid-template-columns: repeat(2, 1fr);
  }
  .preco{
    grid-template-columns: repeat(2, 1fr);
  }
  footer{
    grid-template-columns: 1fr 200px;
  }
}
@media (width < 600px){
  header .imagem::before{
    display: none;
  }
  .skills{
    grid-template-columns: repeat(1, 1fr);
  }
  .preco{
    grid-template-columns: repeat(1, 1fr);
  }
  footer{
    grid-template-columns: 1fr 150px;
  }
}